In [0]:
import os
os.environ['KAGGLE_USERNAME'] = ""
os.environ['KAGGLE_KEY'] = ""
!kaggle competitions download -c competitive-data-science-final-project

In [0]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split

items = pd.read_csv('items.csv')
item_categories = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')
test = pd.read_csv('test.csv.gz')
train = pd.read_csv('sales_train.csv.gz')
sample_submission = pd.read_csv('sample_submission.csv.gz')

# convert train dataset string date to date time
train.date = pd.to_datetime(train.date,format='%d.%m.%Y')

In [47]:
# joined data frame train

train_joined = (
    train
    .join(shops.set_index('shop_id'),on='shop_id')
    .join(items.set_index('item_id'),on='item_id')
    .join(item_categories.set_index('item_category_id'),on='item_category_id')  
)
train_joined.head(1)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,shop_name,item_name,item_category_id,item_category_name
0,2013-01-02,0,59,22154,999.0,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
5            5             0.5
6            6             0.5
7            7             0.5
8            8             0.5
9            9             0.5
10          10             0.5
11          11             0.5
12          12             0.5
13          13             0.5
14          14             0.5
15          15             0.5
16          16             0.5
17          17             0.5
18          18             0.5
19          19             0.5
20          20             0.5
21          21             0.5
22          22             0.5
23          23             0.5
24          24             0.5
25          25             0.5
26          26             0.5
27          27             0.5
28          28             0.5
29          29             0.5
...        ...             ...
214170  214170             0.5
214171  214171             0.5
214172  214172             0.5
214173  214173             0.5
214174  214174             0.5
214175  214175             0.5
214176  214176             0.5
214177  214177             0.5
214178  214178             0.5
214179  214179             0.5
214180  214180             0.5
214181  214181             0.5
214182  214182             0.5
214183  214183             0.5
214184  214184             0.5
214185  214185             0.5
214186  214186             0.5
214187  214187             0.5
214188  214188             0.5
214189  214189             0.5
214190  214190             0.5
214191  214191             0.5
214192  214192             0.5
214193  214193             0.5
214194  214194             0.5
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]